<div class="grid grid--no-gutters">
  	<div class="grid__item medium-up--one-half">
	  <img src='{{ "EBC_processGraphic.svg" | asset_url }}' class='process-graphic' />
	</div>
	<div class="grid__item medium-up--one-half">
		<h3>What Makes our Brew System Unique?</h3>

		<p>At the Elora Brewing Company we use a 4 vessel Brewhouse.  With great versatility, this allows us to create several different kinds of beer with only 1 Mash.  Sound confusing?  Check out our interactive flow chart below.</p>

		<h4>Step 1.</h4>

		<p>Select barley, wheat, rye, and other grains are ground into coarser flour called Grist. The grist auger carries the grist across to the main building, overhead and drops it directly into the Mash Tun, wetting the grist and turning it into Mash.</p>

		<h4>Step 2.</h4>

		<p>The mash continues to fall into the Mash Tun, where it is mixed to prevent &#8216;grist ball&#8217; formation. The temperature is carefully controlled to achieve the appropriate enzyme action for our desired brew.</p>

		<h4>Step 3.</h4>

		<p>Upon completion of mash conversion, the mash is pumped into the Lauter Tun, where, after brief Vorlaufing, the nutrient rich fluid - Wort - is separated from the solid material, and sent to one of two Kettle Whirlpools.</p>

		<h4>Step 4.</h4>

		<p>Simultaneously, a second mash can be mashed in. As the wort is extracted, the mash in the lauter tun is Sparged to continue extracting weaker runnings. If a strong beer is desired, the weak runnings may be diverted to the second kettle whirlpool, leaving the first undiluted. This Process is called Partigyle Brewing.</p>
	</div>
</div>	
<div class="grid grid--no-gutters">
	<div class="grid__item medium-up--one-half">

		<h4>Step 5.</h4>

		<p>If a regular strength beer is desired, all wort will go to the same kettle, and the second mash, once lautering begins can be diverted to the second kettle/whirlpool, and a third mash can be mashed in while the first brew boils away.</p>

		<h4>Step 6.</h4>

		<p>During the boil, hops are added at the beginning to contribute bitterness, and closer to the end to contribute flavour and aroma. Reduction also takes place during the boil, concentrating the nutrients, and caramelization of the sugars darkens the color ever so slightly. Most importantly though, the wort is sterilized.</p>

		<h4>Step 7.</h4>

		<p>Towards the end of the boil, the wort is spun, creating a whirlpool effect, forcing the heavier Trub content to accumulate and settle in the centre of the tank. After brief settling, the scalding hot wort is sent through a two stage Heat Exchanger. Cold water from the Cold Liquor Tank absorbs the bulk of the heat from the wort, and is returned to the hot liquor tank. The near cool wort is then further chilled with cold propylene glycol to a desired temperature dictated by what beer is being made.</p>
	</div>
	<div class="grid__item medium-up--one-half">

		<h4>Step 8.</h4>

		<p>The wort is then sent to the sterile fermenter, where is is pitched with fresh yeast, kick starting the fermentation, where all the sugars liberated in the mash conversion are converted to alcohol and CO2. Over the following 10-20 days, the wort gradually turns to beer, and once it has, it is crash cooled to about 0 degrees celsius. The beer then ages several weeks, during which time, the flavours mellow out, and green beer matures to ready beer.</p>

		<h4>Step 9.</h4>

		<p>Once the yeast has all but dropped out of the beer, the beer is racked or filtered, to a packaging tank, where it is carbonated and ready to keg, at which point it is ready to tap, pour and consume!</p>

		<h4>Step 10.</h4>

		<p>Mmmmmmm&#8230;&#8230;..fresh craft beer made 20 meters from where you are sitting. Enjoy!</p>
     </div>
</div>