<div class="page-hero" style="background: url({{ 'Three-Fields-Bottles.jpg' | asset_url }}) no-repeat center top scroll;">
  <div class="inner-wrapper">
      <div class="container">
        <h2 class="page-title">Our Beers</h2>
      </div>
  </div>
</div>

{% section 'our-beer' %}

{% section 'where-to-find' %}

